{{> head}}


    <h1>FORM CONTROL</h1>
    <form class="row g-3" method="POST" action="/user" novalidate>
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">NAME</label>
            <input type="text" class="form-control" id="inputEmail4" name="name">
        </div>
        <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputPassword4" name="email">
        </div>
        <div class="col-12">
            <label for="inputAddress" class="form-label">Address</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" name="address">
        </div> 
        <div class="col-md-6">
            <label for="inputCity" class="form-label">City</label>
            <input type="text" class="form-control" id="inputCity" name="city">
        </div>
        <div class="col-md-4">
            <label for="inputState" class="form-label">State</label>
            <select id="inputState" class="form-select" name="slist" onchange="changefunc()">          
            <option>...</option>
            </select>
        </div>
        <div class="col-md-2">
            <label for="inputZip" class="form-label">PinCode</label>
            <input type="number" class="form-control" id="inputZip" max="6" name="pincode">
        </div>
        <div class="col-12">
            <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck" name="checkbox">
            <label class="form-check-label" for="gridCheck">
                Check me out
            </label>
            </div>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Sign in</button>  
       </div>
       
    </form>
      <a href="/"><button  class="btn btn-primary">BACK</button></a>
        
       {{> footer}}