{{> head}}
<a href="/viewuser"><button type="submit" class="btn btn-primary">VIEW USER DETAILS</button></a>
<a href="/adduser"><button type="submit" class="btn btn-primary">ADD USER </button></a>
<h1>WELCOME </h1>
<h1>ADD USER DETAILS</h1>

 